@font-face {
  font-family: "RobotoSlabRegular";
  src: url("../../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../../fonts/RobotoSlab-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../../fonts/Raleway-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../../fonts/Raleway-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
