$white-color: #ffffff;
$black-color: #000000;
$text-color: #0d3351;
$active-color: #f20542;
$main-color: #00a2dd;
$bgc-color: #f3f3f3;
$bgc-color-header: #f3f3f3;
$mobile-width: 320px;
$tablet-width: 576px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
